header{
    background-color: #3b3b3d;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #3b3b3d;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     margin-top: -20%;
 }
 .logo{
     margin-top: 3%;
 }
 
 
 .topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
     z-index: 3;
     position: absolute;
 }
 
 .topo{
     display: flex;
     justify-content: center;
     align-content: center;
     z-index: 3;
     position: absolute;
    margin-left: 601px;
     /* margin-top: 55px; */
     
 }
 .topo nav ul{
     display: flex;
     justify-content: space-between;
     
 }
 .topo nav ul li{
     display: block;
     padding: 10px 35px;
     /* margin: 0 5px;  */
     margin-top: 8%;
 }
 .topo nav ul li:hover{
     background: #ffac1f;
    
     height: 15px;   
     
 }
 .topo nav ul li a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     
 }
 
 
 
    #subirTopo {
        /* text-decoration: none; */
        /* background: rgba(30,156,161,.9); */
        bottom: 1px;
        right: 10px;
        /* color: #fff; */
        /* text-align: center;
        cursor: pointer; */
        /* padding: 15px; */        
        /* text-transform: uppercase; */
        position: fixed;        
        opacity: .8;
        width: 100px;
        height: 100px;
        }
        
        #subirTopo:hover {
        opacity:1;
        }
        .agenda{
        
            margin-top: 2%;
            z-index: 999999;
            position: absolute;
            margin-left: 2%;
            
        }

        

        .texto p{
            margin-top: 10%;
            font-size: 15px;
            padding: 5% 5% 1% 2%;
            line-height: 1;
            color: #ffff;
        }
        
        /* .st h2{
            margin-top: 2%;
            font-size: 45px;
            padding: 2% 2% 2% 2%;
            line-height: 1;
            color: #FFFFFF;
        } */
        
        /* .form{padding: 20%;}
        
        .form input[type=text],
        .form input[type=tel],
        .form input[type=email],
        .form textarea{
            background: #f8f6fa;
            border: solid thin #333;
            width: 50%;
            padding: 1%;
            color: #333;
            margin-bottom: 2%;
            border-radius: 5px;
            margin-left: 20%;
        }
        .form textarea{resize: none;}
        
        .form input[type=submit]{
            float: right;
            margin-right: -13px;
            border-radius: 5px;
            background: #262626;
            color: #F8F8F8;
            border: solid .5px #909090;
            padding: 2% 8%;
            cursor: pointer;
            font-size: 0.8em;
        }
        .form input[type=submit]:hover{
            background: #F8F8F8;
            color: #262626;
            border: solid .5px #262626;

            
            }

            .formulario {
                margin-top: 10%;
                margin-left: 35%;
               
            } */

            #subirTopo {
                /* text-decoration: none; */
                /* background: rgba(30,156,161,.9); */
                bottom: 1px;
                right: 10px;
                /* color: #fff; */
                /* text-align: center;
                cursor: pointer; */
                /* padding: 15px; */        
                /* text-transform: uppercase; */
                position: fixed;        
                opacity: .8;
                width: 100px;
                height: 100px;
                }
                
                #subirTopo:hover {
                opacity:1;
                }






                .contato{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15%;
                    margin-left: 655px;
                    
                }
               
                /* .contato article{
                    width: 45%;
                    margin: 2% 0;
                } */
                /* .contato h2{
                    font-size: 1.5em;
                    color: #f8f6fa;
                    font-weight: bold;
                    margin-top: -8%;
                    display: block;
                    
                } */
                .titulo ul{
                    margin-top: 5%;
                   text-align: center;
                    margin: -10% 0;
                    margin-left: -282%;
                    margin-bottom: 2%;
                    /* margin-top: 2%; */
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 16px;
                    color: #F8F8F8;
                }

                .titulo img{
                    margin-top: 55%;
                    margin-left: -140%;
                    font-size: 24px;
                    display: flex;
                 
                    
                }
              
                .form{padding: 2%;}
                
                .form input[type=text],
                .form input[type=tel],
                .form input[type=email],
                .form input[type=senha],
                .form textarea{
                    display: block;
                    background: #ffac1f;
                    /* border: solid thin #f8f6fa; */
                    width: 300%;
                    padding: 10%;
                    color: #fff;
                    margin-bottom: 2%;
                    border-radius: 15px;
                }
                .form textarea{resize: none;}
                
                .form input[type=submit]{
                    float: right;
                    margin-right: -105%;
                    border-radius: 5px;
                    background: #ffac1f;
                    color: #262626;
                    /* border: solid .5px #F8F8F8; */
                    padding: 10% 28%;
                    /* cursor: pointer; */
                    font-size: 0.8em;
                    
                }
                /* .form input[type=submit]:hover{
                    background: #f6b331;
                    color: #262626;
                    border: solid .5px #262626;
                
                } */
                
                /* .contato ul li{
                    margin-bottom: 2%;
                    margin-top: 2%;
                } */
                
                /* .botaoCadastro{
                    z-index: 15;
                    background: #038c73;
                    border-radius: 5px;
                    margin: 5%;
                    width: 260px;
                    height: 50px;
                    margin-left: 800px;
                }
                .botaoCadastro a{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-size: 20px;
                    color: #3d3d40;
                    padding: 6.5% 10%;
                    
                }
                .botaoCadastro  a:hover{
                    background: #3d3d40;
                    color: #dbece6;
                    border-radius: 10px 10px 10px 10px ; 
                } */

                .rodape{
                    background-color: #2d2d2e; 
                    text-align: center;
                    padding: 1% 0;
                
                }
                .rodape img{
                    height: 70%;
                    width: 70%;
                    justify-content: center;
                   
                }
                .rodape p{
                    color: #909090;
                    padding: 1% 0;
                    font-size: 12px;
                    font-family: 'Titillium Web',sans-serif;
                }
                .facebook{
                    background: url(../img/icon/fb.svg) no-repeat;
                }
                .twitter{
                    background: url(../img/icon/twitter2.svg) no-repeat;
                }
                .instagram{
                    background: url(../img/icon/insta.svg) no-repeat;
                }
                .icones-redes-sociais li{
                    display: inline-block;
                    
                }
                .icones-redes-sociais a{
                    width: 32px;
                    height: 32px;
                    display: block;
                    text-indent: -99999px;
                    margin-bottom: -15%;
                }
                /* .site4{
                    max-width: 1920px;
                    width: 100%; 
                } */
                .direitos{
                    color: #000000;
                    text-align: center;
                    margin-top: -2%; 
                    padding: 30px 0;
                    background-color: #f6b331;       
                  
                }
              
                .site4{
                    background-color:  #2d2d2e;
                    width: 1998px;
                    height: 300px;
                }
           