header{
    background-color: #3b3b3d;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #3b3b3d;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     margin-top: -20%;
 }
 
 .agenda img{
    width: 450px; 
    
 }
 .topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
     z-index: 3;
     position: absolute;
 }
 
 .topo{
     display: flex;
     justify-content: center;
     align-content: center;
     z-index: 3;
     position: absolute;
     margin-left: 550px;
     margin-top: 55px;
     
 }
 .topo nav ul{
     display: flex;
     justify-content: space-between;
     
 }
 .topo nav ul li{
     display: block;
     padding: 10px 35px;
     margin: 0 5px; 
 }
 .topo nav ul li:hover{
     background: #ffac1f;
    
     height: 15px;   
     
 }
 .topo nav ul li a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     
 }
 .face{
     display: block;
     margin-right: 0%;
     padding: 1px; 
 }
 
 .banner{
     width: 100%;
 }
  .servico{
     background: #3b3b3d;
     padding:40px;
     text-align: center;
 }
 .servico h2 {
    background: rgba(239,239,239,1.00);
    padding: 1%;
    width: 55%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    color: #3b3b3d;
    font-weight: bold;
    text-align: center;
}
 .servico hr{
     height: 3px;
     background: rgba(239, 239,239,1.00);
     position: relative;
     margin-top: -3px;
     border: none;
 }
 .servicoUm{
     display: flex;
     justify-content: space-between;
 }
 .servicoUm article{
     width: 23%;
     background: #2d2d2e;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 1px 1px 5px 1px #333;
     margin-top: 50%;
 }
 .servicoUm article img{
     width: 100%;
     border-radius: 5px 5px 0 0;
 
 }
 .servicoUm article h3{
     color: #ffffff;
     padding: 3% 0;
     font-size: 18px;
     text-align: start;
     list-style: disc;
     
 }
 .servicoUm article p{
     text-align: justify;
     padding-bottom: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
 .servicoUm article a:hover{
     background: #CCC;
     color: #9F87BB;
 }
 
 .servicoUm h4{
     font-size: 40px;
     line-height: 50%;
     color: #f6b331;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 5%;
 }
 .servicoUm p{
     margin-top: 20px;
     font-size: 20px;
     color: #ffffff;
 
 }
 
 .app{
  
     font-size: 38px;
     color: #f6b331;
     margin-top: 100px;
     text-align: left;
     font-weight: bold;    
 }
 .app h1{
     font-size: 14px;
     color: #CCC;
     margin-top: 2%;
 }
 .app img{
     margin-top: 650px;
 }
 .logo{
     
     margin-top: -35px;
     margin-left: 10px;
 }
 .logo img{
    width:120px;
 }
 
 .sobre{
     margin: 2% 0;
     
 }

 .sobre div{
         display: flex;
         justify-content: space-around;
       
     }
     .sobre div article{
         width: 400%;
     }
     .sobre div article:nth-child(1){
        justify-content: center;
     }
     .ss{
         display: flex;
         margin-top: 15%;
         justify-content: center;
         
     }
     .ss img{
        width:623px; 
        height:820px;
     }
     .ss1{
         margin-top: -820px;
     }
     .ss1 img{
        width:632px;
         height:820px;
     }
     .ss2{
         margin-top: -823px;
     }
     .ss2 img{
        width:639px; 
        height:820px;
        float: right;
     }


     .site4{
        background-color:  #2d2d2e;
        width: 1900px;
        height: 400px;
     }
     .rodape{
         background-color: #2d2d2e; 
         text-align: center;
         padding: 1% 0;
     
     }
     .rodape img{
         height: 70%;
         width: 70%;
         justify-content: center;
        
     }
     .rodape p{
         color: #909090;
         padding: 1% 0;
         font-size: 12px;
         font-family: 'Titillium Web',sans-serif;
     }
     .facebook{
         background: url(../img/icon/fb.svg) no-repeat;
     }
     .twitter{
         background: url(../img/icon/twitter2.svg) no-repeat;
     }
     .instagram{
         background: url(../img/icon/insta.svg) no-repeat;
     }
     .icones-redes-sociais li{
         display: inline-block;
         
     }
     .icones-redes-sociais a{
         width: 32px;
         height: 32px;
         display: block;
         text-indent: -99999px;
         margin-bottom: -15%;
     }
     /* .site4{
         max-width: 1920px;
         width: 100%; 
     } */
     .direitos{
         color: #000000;
         text-align: center;
         margin-top: -2%; 
         padding: 1% 0;
         background-color: #f6b331;       
     }

     .baixar{
         display:flex;
         padding: 2%;
         margin-top: 30px;
         margin-left: 900px;
     }
     .apple{
         /* padding: 2%; */
         margin-right: 2%;
         position:relative;top:0;
      
     }
     .app img{
        margin-top: 100px;
        margin-left: 200px;
     }
     .apple:hover{
         top:-10px;box-shadow:0 5px 5px #3b3b3d;
         transition: all .2s ease-in-out;
         
     }
     .pstore{
         /* padding: 2%; */
         margin-right: 2%;
         position:relative;top:0;
     }
     .pstore:hover{
         top:-10px;box-shadow:0 5px 5px #3b3b3d;
         transition: all .2s ease-in-out;
     } 
     .happ{
         margin-left: 900px;
         margin-top: -500px;
     }   
     .serv{
       
         margin-left: 650%;
         margin-top: 15%;
     }
     .ss p{
         font-size: 60px;
         margin-left: -100px;
     }
    
 
     .galeria{
         /* padding: 2% 0;
         display: flex;
         justify-content: space-between;
         overflow: auto; */
         padding: 2% 0;
         display: flex;
         justify-content: space-between;
         overflow: auto;
         max-width: 1200px;
         margin-left: 350px;
     
       
     }
     .galeria img{
         /* margin: 0 50%;
         margin-top: 20%; */
         /* width: 388px; */
         /* height: 388px; */
          /* border-radius: 10%;        */
          margin: 0 50%;
          margin-top: 20%;
          width: 200px;
          height: auto;
      
     }
.ins{
        margin-left: 37%;
        margin-top: -21%;
        z-index: 3;
        position: absolute;
    
    }
     .insta{
        margin-left: 37%;
        margin-top: -21%;
        z-index: 3;
        position: absolute;
    
    }
     .serv{
         display: flex;
         margin-top: 15%;
         margin-left: 1px;
         
     }
     .botaoservi{
         display: flex; 
         margin-top: -2%;
         margin-left: 13%;
         margin-bottom: 10%;
         position:relative;top:0;
     }
     .botaoservi:hover{
         top:-10px;box-shadow:0 5px 5px #3b3b3d;
         transition: all .2s ease-in-out;
     }
     /* EFEITO FLIP BOX NA PARTE DOS FUNCIONÁRIOS */
     .flip-box {
        margin-top: 550px;
        background-color: transparent;
        width: 400px;
        height: 400px;
        perspective: 1000px; 
        /* margin-left: 400px; */
           
      }
      
      
      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
     
      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }
      
      
      .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border:transparent;
      }
      
     
      .flip-box-front {
        background-color:transparent;
        color: black;
      }
      
      
      .flip-box-back {
        background-color:#f6b331;
        padding-top: 2%;
        transform: rotateY(180deg);
      }
  
      .time{        
            margin-left: 23%;

      }
  
      .bg_video{
        position: initial;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -1000;
        background: url(images/nome-do-video.jpg) no-repeat;
        background-size: cover; 
    }

  
    .barbeiros{
        margin-top: -8%;
        z-index: -99999;
        position: absolute;
        max-width: 1900px;
       
       
    }
    .banner1{
        /* margin-top: -20%;
        max-width: 1900px; */
        width: 1200px;
        height: auto;
        margin-left: 19%;
        margin-top:-22%;
        display: flex;
    }
    #subirTopo {
        /* text-decoration: none; */
        /* background: rgba(30,156,161,.9); */
        bottom: 1px;
        right: 10px;
        /* color: #fff; */
        /* text-align: center;
        cursor: pointer; */
        /* padding: 15px; */        
        /* text-transform: uppercase; */
        position: fixed;        
        opacity: .8;
        width: 100px;
        height: 100px;
        }
        
        #subirTopo:hover {
        opacity:1;
        }
    .agenda{
        
        margin-top: 9%;
        z-index: 999999;
        position: absolute;
        margin-left: 2%;
        
    }

    /* PÁGINA SERVIÇOS  */
    .ar{
        /* color: black;
        font-size: 18px;
        text-align: justify; */
        margin-left: 352px;
        margin-top: 100px; 
        
        }
        
        .banner{
            margin-top: 3px;
        }
        .fotos{
            margin-left: 150px;
            margin-top: 100px;
        }
        .tabela{
            margin-top: 100px;
            margin-left: 350px;
        }
        .texto{
            margin-top: -25%;
            margin-left: 1100px;
        }
   
    .historia{
        margin-top: 450px;
    }
    .fle{
        margin-left: 200px;
        margin-top: 60px;
    }
    .bigode {
        margin-left: 480px;
        margin-top: 80px;
        
    }
    .banner{
        width: 100%;
        height: 100px;
    }
    .galeria{
        padding: 2% 0;
        display: flex;
        justify-content: space-between;
        overflow: auto;
        max-width: 1200px;
        margin-left: 350px;
    
      
    }
    .galeria img{
        margin: 0 50%;
        margin-top: 20%;
        width: 200px;
        height: auto;
         /* border-radius: 10%;        */
    }
    .insta{
        margin-left: 47%;
        margin-top: -10%;
        z-index: 3;
        position: absolute;
    }
    .noivo {
        margin-left: 170px;
        margin-top: 10%;
    }

    /* FIM PÁGINA SERVIÇOS */

    /* INICIO PÁGINA GALERIA  */
    .instalg{
        margin-left: 780px;
        margin-top: 100px;
    }
    .instalg p{
        color: #ffac1f;
        margin-left: 100px;
        margin-top: -50px;
        font-size: 20px;
    }
/* fim página galeria  */

/* INICIO PÁGINA CONTATO */
/* .contato{
    display: flex;
    justify-content: space-between;
    margin-top: -20%;
    
}
.contato article{
    width: 45%;
    margin: 2% 0;
}
.contato h2{
    margin-top: 15%;
    font-size: 1.5em;
    color: #262626;
    font-weight: bold;
}
.form{padding: 2%;}

.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form textarea{
    background: #f6b331;
    border: solid thin #333;
    width: 100%;
    padding: 1%;
    color: #fff;
    margin-bottom: 2%;
    border-radius: 5px;
}
.form textarea{resize: none;}

.form input[type=submit]{
    float: right;
    margin-right: 13px;
    border-radius: 5px;
    background: #262626;
    color: #F8F8F8;
    border: solid .5px #909090;
    padding: 2% 8%;
    cursor: pointer;
    font-size: 0.8em;
}
.form input[type=submit]:hover{
    background: #F8F8F8;
    color: #262626;
    border: solid .5px #262626;
}

.contato ul li{
    margin-bottom: 2%;
    margin-top: 2%;
}
.duvida{
    margin-top: 50%;
    margin-left: 15%;
   
}
.mobile{
    display: none;
}
@media (max-width: 480px){


.unidade img{
    width: 411px;
}

.app img {
    width: 265px;
    margin-top: 100px;
    margin-left: 200px;
}

.topo {
    width: 705px;
    display: flex;
    justify-content: center;
    align-content: none;
    z-index: 3;
    position: absolute;
    margin-left: 0px;
    margin-top: 55px;
}
.descktop{
    display: none;
}
.mobile{
    display: block;
}
.agenda {
    margin-top: 29%;
    z-index: 999999;
    position: absolute;
    margin-left: 2%;
}


.agenda img {
    width: 223px;
}

.ss img {
    width: 623px;
    height: 820px;
    margin-left: 1188px;
}

.topo nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    width: 50px;
}

} */


/* header{
    background-color: #3b3b3d;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #3b3b3d;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     margin-top: -20%;
 }
 .logo{
     margin-top: 3%;
 }
 
 
 .topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
     z-index: 3;
     position: absolute;
 }
 
 .topo{
     display: flex;
     justify-content: center;
     align-content: center;
     z-index: 3;
     position: absolute;
    margin-left: 601px;
    
     
 }
 .topo nav ul{
     display: flex;
     justify-content: space-between;
     
 }
 .topo nav ul li{
     display: block;
     padding: 10px 35px;
   
     margin-top: 8%;
 }
 .topo nav ul li:hover{
     background: #ffac1f;
    
     height: 15px;   
     
 }
 .topo nav ul li a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     
 }
  */
 
 
    #subirTopo {
        /* text-decoration: none; */
        /* background: rgba(30,156,161,.9); */
        bottom: 1px;
        right: 10px;
        /* color: #fff; */
        /* text-align: center;
        cursor: pointer; */
        /* padding: 15px; */        
        /* text-transform: uppercase; */
        position: fixed;        
        opacity: .8;
        width: 100px;
        height: 100px;
        }
        
        #subirTopo:hover {
        opacity:1;
        }
        .agenda{
        
            margin-top: 2%;
            z-index: 999999;
            position: absolute;
            margin-left: 2%;
            
        }

        

        .texto p{
            margin-top: 10%;
            font-size: 15px;
            padding: 5% 5% 1% 2%;
            line-height: 1;
            color: #ffff;
        }
        
        /* .st h2{
            margin-top: 2%;
            font-size: 45px;
            padding: 2% 2% 2% 2%;
            line-height: 1;
            color: #FFFFFF;
        } */
        
        /* .form{padding: 20%;}
        
        .form input[type=text],
        .form input[type=tel],
        .form input[type=email],
        .form textarea{
            background: #f8f6fa;
            border: solid thin #333;
            width: 50%;
            padding: 1%;
            color: #333;
            margin-bottom: 2%;
            border-radius: 5px;
            margin-left: 20%;
        }
        .form textarea{resize: none;}
        
        .form input[type=submit]{
            float: right;
            margin-right: -13px;
            border-radius: 5px;
            background: #262626;
            color: #F8F8F8;
            border: solid .5px #909090;
            padding: 2% 8%;
            cursor: pointer;
            font-size: 0.8em;
        }
        .form input[type=submit]:hover{
            background: #F8F8F8;
            color: #262626;
            border: solid .5px #262626;

            
            }

            .formulario {
                margin-top: 10%;
                margin-left: 35%;
               
            } */

            #subirTopo {
                /* text-decoration: none; */
                /* background: rgba(30,156,161,.9); */
                bottom: 1px;
                right: 10px;
                /* color: #fff; */
                /* text-align: center;
                cursor: pointer; */
                /* padding: 15px; */        
                /* text-transform: uppercase; */
                position: fixed;        
                opacity: .8;
                width: 100px;
                height: 100px;
                }
                
                #subirTopo:hover {
                opacity:1;
                }






                .contato{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15%;
                    margin-left: 655px;
                    
                }
               
                /* .contato article{
                    width: 45%;
                    margin: 2% 0;
                } */
                /* .contato h2{
                    font-size: 1.5em;
                    color: #f8f6fa;
                    font-weight: bold;
                    margin-top: -8%;
                    display: block;
                    
                } */
                .titulo ul{
                    margin-top: 5%;
                   text-align: center;
                    margin: -10% 0;
                    margin-left: -282%;
                    margin-bottom: 2%;
                    /* margin-top: 2%; */
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 16px;
                    color: #F8F8F8;
                }

                .titulo img{
                    margin-top: 55%;
                    margin-left: -140%;
                    font-size: 24px;
                    display: flex;
                 
                    
                }
              
                .form{padding: 2%;}
                
                .form input[type=text],
                .form input[type=tel],
                .form input[type=email],
                .form input[type=senha],
                .form textarea{
                    display: block;
                    background: #ffac1f;
                    /* border: solid thin #f8f6fa; */
                    width: 300%;
                    padding: 10%;
                    color: #fff;
                    margin-bottom: 2%;
                    border-radius: 15px;
                }
                .form textarea{resize: none;}
                
                .form input[type=submit]{
                    float: right;
                    margin-right: -105%;
                    border-radius: 5px;
                    background: #ffac1f;
                    color: #262626;
                    /* border: solid .5px #F8F8F8; */
                    padding: 10% 28%;
                    /* cursor: pointer; */
                    font-size: 0.8em;
                    
                }
                /* .form input[type=submit]:hover{
                    background: #f6b331;
                    color: #262626;
                    border: solid .5px #262626;
                
                } */
                
                /* .contato ul li{
                    margin-bottom: 2%;
                    margin-top: 2%;
                } */
                
                /* .botaoCadastro{
                    z-index: 15;
                    background: #038c73;
                    border-radius: 5px;
                    margin: 5%;
                    width: 260px;
                    height: 50px;
                    margin-left: 800px;
                }
                .botaoCadastro a{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    font-size: 20px;
                    color: #3d3d40;
                    padding: 6.5% 10%;
                    
                }
                .botaoCadastro  a:hover{
                    background: #3d3d40;
                    color: #dbece6;
                    border-radius: 10px 10px 10px 10px ; 
                } */

                /* .rodape{
                    background-color: #2d2d2e; 
                    text-align: center;
                    padding: 1% 0;
                
                }
                .rodape img{
                    height: 70%;
                    width: 70%;
                    justify-content: center;
                   
                }
                .rodape p{
                    color: #909090;
                    padding: 1% 0;
                    font-size: 12px;
                    font-family: 'Titillium Web',sans-serif;
                }
                .facebook{
                    background: url(../img/icon/fb.svg) no-repeat;
                }
                .twitter{
                    background: url(../img/icon/twitter2.svg) no-repeat;
                }
                .instagram{
                    background: url(../img/icon/insta.svg) no-repeat;
                }
                .icones-redes-sociais li{
                    display: inline-block;
                    
                }
                .icones-redes-sociais a{
                    width: 32px;
                    height: 32px;
                    display: block;
                    text-indent: -99999px;
                    margin-bottom: -15%;
                } */
                /* .site4{
                    max-width: 1920px;
                    width: 100%; 
                } */
                /* .direitos{
                    color: #000000;
                    text-align: center;
                    margin-top: -2%; 
                    padding: 30px 0;
                    background-color: #f6b331;       
                  
                }
              
                .site4{
                    background-color:  #2d2d2e;
                    width: 1998px;
                    height: 300px;
                } */

                .unidades{
                    width: 1900px;
                }
           