header{
    background-color: #3b3b3d;
    
 }
 @import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+web');
 
 body{
     font-size: 16px;
     font-family: 'Dosis', sans-serif;
       background-color: #cccccc;
 
 }
 .site1{
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     
 }
 
 
 .topo h1{            
     text-indent: -9999px;  
     flex-direction: column-reverse;
     position: absolute;
     z-index: 3;
    
 }
 
 .topo{
     display: flex;
     justify-content: center;
     align-content: center;
     z-index: 3;
     position: absolute;
     margin-left:550px;
     margin-top: 55px;
 }
 .topo nav ul{
     display: flex;
     justify-content: space-between;
 }
 .topo nav ul li{
     display: block;
     padding: 10px 35px;
     margin: 0 5px;
 
 }
 .topo nav ul li:hover{
     background: #ffac1f;
     height: 15px;
     
 }
 .topo nav ul li a{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
 }
 .face{
     display: block;
     margin-right: 0%;
     padding: 1px; 
 }
 
 .banner{
     width: 100%;
 }
 .logo{
    /* justify-content: center;
    position:absolute; 
    z-index:999999999;  */
    margin-top: -35px;
    margin-left: 10px;
}
.instalg{
    margin-left: 780px;
    margin-top: 100px;
}
.instalg p{
    color: #ffac1f;
    margin-left: 100px;
    margin-top: -50px;
    font-size: 20px;
}
.rodape{
    background: #2d2d2e; 
    text-align: center;
    padding: 1% 0;
    margin-top: 240px;
}
.rodape img{
    height: 15%;
    width: 15%;
   
}
.rodape p{
    color: #909090;
    padding: 1% 0;
    font-size: 12px;
    font-family: 'Titillium Web',sans-serif;
}
.facebook{
    background: url(../img/icon/fb.svg) no-repeat ;
}
.twitter{
    background: url(../img/icon/twitter2.svg) no-repeat;
}
.instagram{
    background: url(../img/icon/insta.svg) no-repeat;
}
.icones-redes-sociais li{
    display: inline-block;
}
.icones-redes-sociais a{
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -99999px;
}
.site4{
    max-width: 1920px;
    width: 100%;
   
}
.direitos{
    color: #000000;
    text-align: center;
    padding: 1% 0;
    background-color: #f6b331;
   }
   #subirTopo {
    /* text-decoration: none; */
    /* background: rgba(30,156,161,.9); */
    bottom: -480px;
    right: -200px;
    /* color: #fff; */
    /* text-align: center;
    cursor: pointer; */
    /* padding: 15px; */        
    /* text-transform: uppercase; */
    position: fixed;        
    opacity: .8;
    width: 600px;
    height: 600px;
    }
    
    #subirTopo:hover {
    opacity:1;
    }
